body{
    padding: 0;
    margin: 0;
    background-image: url("/images/gay-ahh-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: fit-content;
}

*{
    color: white;
    font-family: "Trebuchet MS", sans-serif;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 0;
    padding-left: 0;
}

.main-heading{
    margin-right: 50px;
    float: left;
}

.nav-links{
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    float: left;
    margin-top: 23px;
}

a {
    text-decoration: none;
}

.nav-list{
    margin-top: 0;
    padding: 16px;
    margin-bottom: 0;
}

.contact-button{
    width: 120px;
    height: 35px;
    background-color: yellow;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    margin-left: 50px;
    padding: 5px;
    margin-top: 16px;
    transition: border-radius 0.4s;
}

.contact-button:hover{
    border-radius:30px;
}

/* .background-link{
    background-color: turquoise;
    opacity: 0.5;
    width: 310px;
    border-radius: 10px;
    height: fit-content;
    display: flex;;
    justify-items: center;
    justify-content: center;
}
 */

.footer {
    background-color: #141414;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-text {
    font-size: 16px;
    font-weight: 300;
    margin-right: 20px;
}

.logo{
    margin-top: 15px;
    margin-right: 20px;
    width: 30%;
    height: 30px;
}

.github-text{
    margin-top: 20px;
    color: rgb(2, 41, 116);
}

.connect{
    justify-content: right;
    display: flex;
}

.hero-section{
    width: 100%;
    background-image: url("/images/gay-ahh-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 637px;
}

.gay-ahh-heading{
    font-size: 40px;
    font-weight: bolder;
    padding-top: 150px;
    padding-left: 200px;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
}

.gay-ahh-p{
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 210px;
    color: black;
}

main{
    height: fit-content;
    background-image: url("/images/gay-ahh-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.check-us{
    background-color: lightcoral;
    border-radius: 5px;
    color: black;
    font-size: 25px;
    width: 220px;
    height: 45px;
    font-weight: bolder;
    border: 0;
    margin-top: 0;
    margin-left: 215px;
    transition: all;
}

.check-us:hover{
    background-color: antiquewhite;
    color: black;
}

header{
    background-image: url("/images/gay-ahh-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 637px;
}

.quote{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #1B1B1B;
}

.quote-text{
    color: white;
}

.quote-text:hover{
    color: lightblue;
}

.js-div{
    background-color: rgb(0, 191, 255);
    margin-left: 30px;
    margin-top: 30px;
    padding: 10px;
    width: 95%;
    border-radius: 10px;
}

.js-div:hover{
    background-color: darkblue;
    .tools-heading{
        color: white;
    }
    .tools-text{
        color: white;
    }
}

.tools-heading {
    color: black;
    margin-left: 20px;
    margin-top: 0;
}

.tools-text {
    color: black;
    margin-left: 20px;
    margin-top: 0;
}

.intrested{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 150px;
}

.intrested-2{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 130px;
    margin-bottom: 10px;
}

.are-you{
    margin-right: 15px;
}

.click-here{
    color: blue;
    text-decoration: underline;
}

@media screen and (max-width: 1219px) {
    .js-div{
        width: 93%;
    }
}