body{
    padding: 0;
    margin: 0;
    background-color: #1B1B1B;
    height: fit-content;
}

*{
    color: white;
    font-family: "Trebuchet MS", sans-serif;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 0;
    padding-left: 0;
}

.main-heading{
    margin-right: 50px;
    float: left;
}

.nav-links{
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    float: left;
    margin-top: 23px;
}

a {
    text-decoration: none;
}

.contact-button{
    width: 120px;
    height: 35px;
    background-color: yellow;
    color: black;
    font-weight: bolder;
    border: 0;
    border-radius: 15px;
    margin-left: 50px;
    padding: 5px;
    margin-top: 18px;
}

.background-link{
    background-color: rgba(255, 0, 0, 0.3);
    width: 310px;
    border-radius: 10px;
    display: flex;;
    justify-items: center;
    justify-content: center;
}

.bar {
    border: 5px double white;
}

.footer {
    background-color: #212529;
    color: #fff;
    padding: 30px 0;
    margin-top: 80px;
    position: relative;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-logo img {
    width: 150px;
    height: auto;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav a:hover {
    color: #ddd;
}

.footer-social {
    display: flex;
}

.footer-social a {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}

.footer-social a:hover {
    color: #ddd;
}

.fab {
    font-family: "Trebuchet MS", sans-serif;
}

.copyright {
    text-align: center;
    background-color: #1a1e22;
    padding: 10px 0;
    color: #ddd;
}
